body{
    font-family: Verdana,Helvetica,Arial;
    font-size: 1.2em;
    width: 95%;
    display: block;
    text-align: left;
}
.image{
    text-align: right;
    width: 70%;
}

.specials{
    display: block;
    border-style: solid;
    border-color: #66b933;
    text-align: center;
    float: right;
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;


}
h2{
    color: #007e7e;
    font-size: 130%;
}
h1{
    color: #007e7e;
    font-size: 150%;
}
.w1{
    color: black;
}
.w2{
    color: red;
}
.w3{
    color: #66b933;
}
.w4{
    color: darkgray;
}
.w5:hover{
    color: brown;
}
.w5{
    color: black;
}
.history{
    background-color: #a7cece;
    color: #444444;
    padding: 20px;
    width: 65%;
    margin: 30px;
    border: white;
    border-style: dashed;
    font-size: 0.8em;
}
.imghis{
    display: block;
    float: left;
}
footer{
    font-size: 50%;
    padding-left: 800px;
}
div{
    text-align: center;
}
.repeat{
    background-image: url("Labo_8/images/cocktail.gif");
    background: repeat;
}