body{
    font-family: Verdana,Helvetica,Arial;
    font-size: 1.2em;
    width: 95%;
    display: block;
    text-align: center;
}
.image{
    text-align: right;
    margin-right: 30%;
}

.specials{
    display: block;
    border-style: solid;
    border-color: #66b933;
    text-align: center;
    float: right;
    width: 30%;


}
h2{
    color: #007e7e;
    font-size: 130%;
}
h1{
    color: #007e7e;
    font-size: 150%;
}
.w1{
    color: black;
}
.w2{
    color: red;
}
.w3{
    color: #66b933;
}
.w4{
    color: darkgray;
}
.w5:hover{
    color: brown;
}
section
{
margin-right: 25%;
    target-position: above;
}